.SecondScreen{
    display: flex;
    justify-content: end;
    align-items: center;


    font-family: 'Poppins', arial, sans-serif;
    font-size: 17px;

    width: auto;
    height: 25px;

    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 5px;
}